.errors li {
	display: inline;
	margin-left: 2%;
	margin-bottom: 3%;
	font-family:'Reenie Beanie', cursive;
	font-size: 10px;
  letter-spacing: 1.5px;
}

.formbox {
	width: 30%;
	margin-left: auto;
	margin-right:auto;

}

@media (max-width: 700px) {
	.formbox {
		width: 60%;
	}
}
.msg {
  background-color: #DBA286;
  padding: 10px;
  width: 400px;
}

h2 {
	font-family:'Reenie Beanie', cursive;
}

form label {
  font-size: 1.2em;
  font-family:'Reenie Beanie', cursive;
  display: block;
  padding: 10px 0;
}


 
form input#picture,
form input#link,
form input#city {
	display: inline-block;
  font-family: verdana;
  width: 250px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;

}
 
form textarea#caption {
  width: 250px;
  height: 50px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
}
 
form input#submit {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px;
  margin-bottom: 3%;
  margin-top: 2%; 
  font-size: 25px;
  font-family: 'Reenie Beanie', cursive;
  letter-spacing: 2px;
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{

  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}
